<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
	</configSections>
	<unity>
		<containers>
			<container>
				<register type="SendReceiveLib.Interfaces.IQueueConfig, SendReceiveLib" mapTo="SendReceiveLib.Models.QueueConfig, SendReceiveLib" />
				<register type="SendReceiveLib.Interfaces.IRabbitMQConsumerConfig, SendReceiveLib" mapTo="SendReceiveLib.Models.RabbitMQConsumerConfig, SendReceiveLib" />
				<register type="SendReceiveLib.Interfaces.IMessageChannel, SendReceiveLib" mapTo="SendReceiveLib.Models.RabbitMQChannel, SendReceiveLib" />
				<register type="SendReceiveLib.Interfaces.IDisplay, SendReceiveLib" mapTo="SendReceiveLib.Models.ConsoleDisplay, SendReceiveLib" />
			</container>
		</containers>
	</unity>
	<appSettings>
		<add key="HostName" value="localhost"/>
	</appSettings>
</configuration>